{% extends 'base.html' %}

{% block title %} | {% endblock  %}

{% block slide %} 
	{% include 'slide.html' %}   
{% endblock %}

{% block content %}
	
<p>
	Hello.... you .I am a Software Engineer ... <br>
	Yep Still thinking why i did it.. ;) <br>
	<br> FOUR years of my life(2015-2019) (((yeh yeh everyone in india know its Engineeing life)))
	  was in City Engineering College <br>
	And I never got single paper back.. <br>
	i need job , and that's why i am  Unleashed Django to Python ..!! 
	<p>
	<div class='row'>
	{% for a in blog_list %}

		{% include 'blog/list_inline.html' with blog_post=a truncate=True detail=False %}
	{% endfor %}

</div>

{% endblock %}

 