<!--
<li><h1><a href="{{ blog_post.get_absulute_url }}">{{ blog_post.title }}</a></h1></li>
!-->
<div class="card mb-4 mx-auto" style="max-width:600px; ">
	<div class="row no-gutters {% if not blog_post.publish_date %} border border-warning text-dark {% endif %}">
  		<div class="col-md-4">
        {% if blog_post.image %}
            <a href="{{ blog_post.get_absulute_url }}">
                    <img src="{{ blog_post.image.url }}" class='card-img' />
            </a>
        {% endif %}
      </div>  
      <div class="col-md-8">
        <div class="card-body">
  			 <h5 class="card-title">{{ blog_post.title }}</h5>
  			 <p class="card-text">
  			{% if truncate %}
  				{{ blog_post.content | linebreaks | truncatewords:30 }} 
  			{% else %}
  				{{ blog_post.content | linebreaks}}
  			{% endif %}
  			 </p>
  			{% if not detail %}
          {% if not blog_post.publish_date %} Draft {% endif %}
          <p class="card-text">
          <small class='text-muted'>{{ blog_post.publish_date }}</small></p>
  				<a href="{{ blog_post.get_absulute_url }}">View</a>
   			{% endif %}
  		</div>
    </div>
	</div>
</div>

